{% extends "::base.html.twig" %}

{% block title %}Ajout d'une observation{% endblock %}

{% block body %}

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    {{ form_stylesheet(form) }}

    {{ form_javascript(form) }}


    {{ form_start(form) }}
    <div>
        {{ form_label(form.datetime, 'Date et heure' ) }}
        {{ form_widget(form.datetime) }}
        {{ form_errors(form.datetime) }}
    </div>
    <div>
        {{ form_label(form.sex, 'Sexe' ) }}
        {{ form_widget(form.sex) }}
        {{ form_errors(form.sex) }}
    </div>
    <div>
        {{ form_label(form.comment, 'Commentaire' ) }}
        {{ form_widget(form.comment) }}
        {{ form_errors(form.comment) }}
    </div>
    <div>
        {{ form_label(form.latitude, 'Latitude' ) }}
        {{ form_widget(form.latitude) }}
        {{ form_errors(form.latitude) }}
    </div>
    <div>
        {{ form_label(form.longitude, 'Longitude' ) }}
        {{ form_widget(form.longitude) }}
        {{ form_errors(form.longitude) }}
    </div>
    <div>
        {{ form_label(form.department, 'Département' ) }}
        {{ form_widget(form.department) }}
        {{ form_errors(form.department) }}
    </div>

    {{ form_end(form) }}

{% endblock %}