<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Page validation d'observation</title>

    {% block stylesheets %}

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

    {% endblock %}
</head>

<body>
<h1 class="text-center">Fiche d'observation</h1>
<hr/>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {% for message in app.session.flashbag.get('info') %}
            <div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> {{ message }}</div>
        {% endfor %}
        {% for message in app.session.flashbag.get('error') %}
            <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> {{ message }}</div>
        {% endfor %}
    </div>
</div>
<div class="container-fluid">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm-12">
            <h4>Famille : {{ observation.taxref.family }}</h4>
            <h4>Lb_name : {{ observation.taxref.lbName }}</h4>
            <h4>Nom_vernaculaire : {{ observation.taxref.vernacularName }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div>
                <p>Date et heure : {{ observation.datetime|date('d/m/y - h:i') }}</p>
            </div>
            <div>
                <p>Sexe : {{ observation.sex }}</p>
            </div>
            <div>
                <p>Observation : {{ observation.observation }}</p>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        {{ form_label(form.comment, 'Commentaire' ) }}
                        {{ form_widget(form.comment, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.comment) }}
                    </div>
                </div>
            </div>

            <p>Localisation :</p>
            <div>
                <p>Latitude : {{ observation.latitude }}</p>
            </div>
            <div>
                <p>Longitude : {{ observation.longitude }}</p>
            </div>
            <div>
                <p>Département : {{ observation.department }}</p>
            </div>
        </div>
        <div class="col-sm-6">
            {{ ivory_google_map(map) }}
            {{ ivory_google_api([map]) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                {% if observation.pictures.count != null %}
                    <div class="col-sm-6">
                        <p>Photos : </p>
                        {% for picture in observation.pictures %}
                            <div class="col-sm-4">
                                <div class="col-sm-12">
                                    <div class="thumbnail">
                                        <img src="../../../../{{ vich_uploader_asset(picture, 'imageFile') }}" alt=""/>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="col-sm-6">
                    <p>Nom de l'observateur : {{ observation.user.lastName }}</p>
                    <p>Prénom de l'observateur : {{ observation.user.firstName }}</p>
                    <a href="mailto:{{ observation.user.email }}">Contacter l'observateur</a>
                </div>
            </div>
        </div>
    </div>
    <a href="{{ path('app_observations_new') }}" class="btn btn-default btn-cancel">Annuler</a>
    <a href="{{ path('app_observation_delete', {'id': observation.id }) }}" class="btn btn-default btn-danger">Supprimer</a>
    {{ form_end(form) }}
</div>
</body>

</html>