{% extends ':adminController/dashboard:dashboardbase.html.twig'%}
{% block title %}Observation - {{ parent() }}{% endblock %}
{% block body %}
    {% block container %}
    <div class="container-fluid" id="viewobserv">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="font-size: 25px;font-weight: 600;color: #ffffff;text-transform: uppercase">
                    <i class="fa fa-eye"></i> Observations
                </h1>
            </div>
        </div>
        <!-- Message d'info/erreur -->
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {% for message in app.session.flashbag.get('info') %}
                    <div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> {{ message }}</div>
                {% endfor %}
                {% for message in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> {{ message }}</div>
                {% endfor %}
            </div>
        </div>
        <!-- Détails de l'observation -->
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h4>Nom : {{ observation.taxref.vernacularName }}</h4>
                <h4>Nom complet : {{ observation.taxref.fullName }}</h4>
                <h4>Famille : {{ observation.taxref.family }}</h4>
            </div>
        </div>
        <!-- Date de l'observation -->
        <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div>
            <p>Date et heure : {{ observation.datetime|date('d/m/y - h:i') }}</p>
        </div>
        <div>
            <p>Sexe : {{ observation.sex }}</p>
        </div>
        <div>
            <p>Observation : {{ observation.observation }}</p>
        </div>
        <div>
            <p>Commentaire : {{ observation.comment }}</p>
        </div>
        <div>
            <p>Latitude : {{ observation.latitude }}</p>
        </div>
        <div>
            <p>Longitude : {{ observation.longitude }}</p>
        </div>
        <div>
            <p>Département : {{ observation.department }}</p>
        </div>
        <div>
            <p>Statut : {{ observation.status }}</p>
        </div>
        <div>
            <p>Nom de l'observateur : {{ observation.user.lastName }}</p>
            <p>Prénom de l'observateur : {{ observation.user.firstName }}</p>
            <p>Email de l'observateur : {{ observation.user.email }}</p>
        </div>

        <div>
            <div class="row">
                {% for picture in observation.pictures %}
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <div class="thumbnail">
                                <img src="../../../../{{ vich_uploader_asset(picture, 'imageFile') }}" alt="" />
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
    </div>
    {% endblock %}
{% endblock %}
