<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Page affichage observation</title>

    {% block stylesheets %}

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

    {% endblock %}

</head>

<body>
<h1 class="text-center">Affichage d'une observation</h1>
<hr/>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {% for message in app.session.flashbag.get('info') %}
            <div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> {{ message }}</div>
        {% endfor %}
        {% for message in app.session.flashbag.get('error') %}
            <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> {{ message }}</div>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h4>Nom : {{ observation.taxref.vernacularName }}</h4>
        <h4>Nom complet : {{ observation.taxref.fullName }}</h4>
        <h4>Famille : {{ observation.taxref.family }}</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div>
            <p>Date et heure : {{ observation.datetime|date('d/m/y - h:i') }}</p>
        </div>
        <div>
            <p>Sexe : {{ observation.sex }}</p>
        </div>
        <div>
            <p>Observation : {{ observation.observation }}</p>
        </div>
        <div>
            <p>Commentaire : {{ observation.comment }}</p>
        </div>
        <div>
            <p>Latitude : {{ observation.latitude }}</p>
        </div>
        <div>
            <p>Longitude : {{ observation.longitude }}</p>
        </div>
        <div>
            <p>Département : {{ observation.department }}</p>
        </div>
        <div>
            <p>Statut : {{ observation.status }}</p>
        </div>

        <div>
            <div class="row">
                {% for picture in observation.pictures %}
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <div class="thumbnail">
                                <img src="../../../../{{ vich_uploader_asset(picture, 'imageFile') }}" alt="" />
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

</body>

</html>
