<!-- MENU -->
    <nav class="menu" id="collapseEx2">
        <div class="d-flex flex-column">
            <a href="{{ path('home') }}" style="font-family: Titillium Web; font-weight: 700;font-size: 13px;" class="btn btn-default teal lighten-3 menuB textCourt">ACCUEIL</a>
            <a href="{{ path('association') }}" style="font-family: Titillium Web; font-weight: 700;font-size: 13px;" class="btn btn-default teal lighten-2 menuB textCourt" >L' ASSOCIATION</a>
            <a href="{{ path('modeemploi') }}" style="font-family: Titillium Web; font-weight: 700;font-size: 13px;" class="btn btn-default teal menuB textlong">COMMENT CA <br>MARCHE ?</a>
            <a href="{{ path('app_search') }}" style="font-family: Titillium Web; font-weight: 700;font-size: 13px;" class="btn btn-default teal darken-1 menuB textcourt">RECHERCHER</a>
            <a href="{{ path('apprendreObserver') }}" style="font-family: Titillium Web; font-weight: 700;font-size: 13px;" class="btn btn-default teal darken-3 menuB textlong">APPRENDRE <br>A OBSERVER</a>
            <a href="{{ path('contact') }}" style="font-family: Titillium Web; font-weight: 700;font-size: 13px;" class="btn btn-default teal darken-4 menuB textcourt">CONTACT</a>
        </div>
    </nav>
