<!-- MENU -->
    <nav class="menu" id="collapseEx2">
        <div class="d-flex flex-column">
            <a href="{{ path('home') }}" class="btn btn-default teal lighten-3 menuB textCourt">Accueil</a>
            <a href="{{ path('association') }}" class="btn btn-default teal lighten-2 menuB textCourt" >L'Association</a>
            <a href="{{ path('modeemploi') }}" class="btn btn-default teal menuB textlong">Comment ça <br>marche?</a>
            <a href="{{ path('home') }}" type="button" class="btn btn-default teal darken-1 menuB textcourt">Rechercher</a>
            <a href="{{ path('apprendreObserver') }}" class="btn btn-default teal darken-3 menuB textlong">Apprendre <br>à Observer</a>
            <a href="{{ path('contact') }}" class="btn btn-default teal darken-4 menuB textcourt">Contact</a>
        </div>
    </nav>