{% extends ':adminController/dashboard:dashboardbase.html.twig'%}
{% block title %}Mes observations validées - {{ parent() }}{% endblock %}

{% block body %}
    {% block container %}
        <div class="container-fluid" id="listUsers">
            <!-- Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" style="font-size: 25px;font-weight: 600;color: #ffffff;text-transform: uppercase">
                        <i class="fa fa-binoculars"></i> Mes observations validées
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    {% for message in app.session.flashbag.get('info') %}
                        <div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> {{ message }}</div>
                    {% endfor %}
                    {% for message in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> {{ message }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Date / Heure</th>
                                <th>Nom de l'oiseau</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                                <th>Département</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for observation in observations %}
                            <tr>
                                <td>{{ observation.datetime|date('d/m/y - h:i') }}</td>
                                <td>{{ observation.taxref.lbName }}</td>
                                <td>{{ observation.latitude }}</td>
                                <td>{{ observation.longitude }}</td>
                                <td>{{ observation.department }}</td>
                                <td><a href="{{ path('app_observation', {'id': observation.id}) }}">détail</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="navigation text-center">
                            {{ knp_pagination_render(observations) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
