{% trans_default_domain 'FOSUserBundle' %}

<form class="uk-panel uk-panel-box uk-form" action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="uk-form-row">
        <input class="uk-width-1-1 uk-form-large" type="text" placeholder="{{ 'security.login.username'|trans }}" id="username" name="_username" value="{{ last_username }}" required="required">
    </div>

    <div class="uk-form-row">
        <input class="uk-width-1-1 uk-form-large" type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required">
    </div>
    <div class="uk-form-row">
        <input class="uk-width-1-1 uk-button uk-button-primary uk-button-large" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </div>
    <div class="uk-form-row uk-text-small">
        <label class="uk-float-left" for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" value="on">{{ 'security.login.remember_me'|trans }}</label>
        <a class="uk-float-right uk-link uk-link-muted" href="#">Forgot Password?</a>
    </div>

</form>
