<div class="row" style="margin: 0">
    <div class="col-sm-6">
        <div class="row" style="margin:0;vertical-align: middle">
            <div class="col-8 offset-2" style="vertical-align: middle">
                {% if specie.vernacularName|length > 0 %}
                    <h2 style="margin:0;padding-top: 13px;padding-bottom:3px;border-bottom: 2px solid #636c72;color: #009688;font-size: 23px;font-weight: bold">{{ specie.vernacularName }}</h2>
                {% else %}
                    <h2 style="margin:0;padding-top: 13px;padding-bottom:3px;border-bottom: 2px solid #636c72;color: #009688;font-size: 23px;font-weight: bold">{{ specie.lbName }}</h2>
                {% endif %}

                <h5 style="font-family: Roboto;font-size: 15px; padding-top: 6px">{{ specie.lbName  }}</h5>
            </div>
            <div class="col-2" style="margin-left: -15px;padding: 0;margin-bottom: 28px">
                {{ render(controller(
                'AppBundle:Search:specieImage',
                { 'cdName': specie.cdName }
                )) }}
            </div>
        </div>
        <div class="row" style="margin: 0">
           <div class="col-11 offset-1" >
               <div class="row" style="padding-bottom: 24px;">
                   <div class="col-5" style="color: #009688;font-weight: 500;">Ordre :</div>
                   <div class="col-7" style="text-align: center">{{ specie.order }}</div>
               </div>
               <div class="row" style="padding-bottom: 24px;">
                   <div class="col-5" style="color: #009688;font-weight: 500;">Famille :</div>
                   <div class="col-7" style="text-align: center">{{ specie.family }}</div>
               </div>
               <div class="row" style="padding-bottom: 24px;">
                   <div class="col-5" style="color: #009688;font-weight: 500;">Découvert par :</div>
                   <div class="col-7" style="text-align: center">{{ specie.lbAuthor }}</div>
               </div>
               <div class="row" style="padding-bottom: 48px;">
                   <div class="col-5" style="color: #009688;font-weight: 500;">Nom anglais :</div>
                   {% if specie.engVernacularName|length > 0 %}
                    <div class="col-7" style="text-align: center">{{ specie.engVernacularName }}</div>
                   {% else %}
                   <div class="col-7" style="text-align: center">non référencé</div>
                   {% endif %}
               </div>
           </div>
        </div>
    </div>
    <!-- Google Map -->
    <div class="col-sm-6 map" id="map">
        {{ ivory_google_map(map) }}
        {{ ivory_google_api([map]) }}
    </div>
</div>

<hr>
<!-- Bouton Déposer une observ + titre-->
<div class="row" style="margin: 0; padding-bottom: 24px">
    <div class="col-3 offset-2">
        <a href="{{ path('app_observation_add', {'cdName': specie.cdName}) }}" class="btn btn-primary btn-rounded" style="background-color: #4db6ac"><i class="fa fa-plus"></i> Déposer une observation</a>
    </div>
    <div class="col-2" style="text-align: center; padding-top: 15px">
        Observations
    </div>
</div>
<!-- ./END Bouton Déposer une observ + titre-->

<!-- Exemple de visu si pas d'observ -->
<div class="row" style="margin: 0; padding-top: 20px">
    <div class="col-12">
        <div class="row" >
            <div class="col-1" style="position: absolute;z-index: 99;">
                <img src="{{ asset('img/homepage/cercleda/cercle1.jpg') }}" class="rounded-circle" style="height: 70px;width: 70px">
            </div>
            <div class="col-11" style="z-index: 98;position: relative;left: 5%">
                <div class="card card-block" style="padding-top: 20px;padding-bottom: 5px;margin-top: 7px;">
                    <div class="row" style="padding: 0">
                        <div class="col-1" style="font-family:Roboto;font-size:13px;font-weight:200;padding-left: 23px;padding-right: 0px">2 photos</div>
                        <div class="col-3" style="text-align: left;font-family:Roboto;font-size:15px">12/04/2017 à 10:00</div>
                        <div class="col-4" style="text-align: center;">Département :44 - Loire atlantique</div>
                        <div class="col-2"  style="text-align: center;"><a href="#map" ><i class="fa fa-map-marker fa-2x" style="color: #004d40"></i></a></div>
                        <div class="col-2"  style="text-align: center;"><a href="#map"><i class="fa fa-eye fa-2x" style="color: #303030"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin: 0; padding-top: 20px">
    <div class="col-12">
        <div class="row" >
            <div class="col-1" style="position: absolute;z-index: 99;">
                <img src="{{ asset('img/homepage/cercleda/cercle1.jpg') }}" class="rounded-circle" style="height: 70px;width: 70px">
            </div>
            <div class="col-11" style="z-index: 98;position: relative;left: 5%">
                <div class="card card-block" style="padding-top: 20px;padding-bottom: 5px;margin-top: 7px;">
                    <div class="row" style="padding: 0">
                        <div class="col-1" style="font-family:Roboto;font-size:13px;font-weight:200;padding-left: 23px;padding-right: 0px">2 photos</div>
                        <div class="col-3" style="text-align: left;font-family:Roboto;font-size:15px">12/04/2017 à 10:00</div>
                        <div class="col-4" style="text-align: center;">Département :44 - Loire atlantique</div>
                        <div class="col-2"  style="text-align: center;"><a href="#map" ><i class="fa fa-map-marker fa-2x" style="color: #004d40"></i></a></div>
                        <div class="col-2"  style="text-align: center;"><a href="#map"><i class="fa fa-eye fa-2x" style="color: #303030"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin: 0; padding-top: 20px">
    <div class="col-12">
        <div class="row" >
            <div class="col-1" style="position: absolute;z-index: 99;">
                <img src="{{ asset('img/homepage/cercleda/cercle1.jpg') }}" class="rounded-circle" style="height: 70px;width: 70px">
            </div>
            <div class="col-11" style="z-index: 98;position: relative;left: 5%">
                <div class="card card-block" style="padding-top: 20px;padding-bottom: 5px;margin-top: 7px;">
                    <div class="row" style="padding: 0">
                        <div class="col-1" style="font-family:Roboto;font-size:13px;font-weight:200;padding-left: 23px;padding-right: 0px">2 photos</div>
                        <div class="col-3" style="text-align: left;font-family:Roboto;font-size:15px">12/04/2017 à 10:00</div>
                        <div class="col-4" style="text-align: center;">Département :44 - Loire atlantique</div>
                        <div class="col-2"  style="text-align: center;"><a href="#map" ><i class="fa fa-map-marker fa-2x" style="color: #004d40"></i></a></div>
                        <div class="col-2"  style="text-align: center;"><a href="#map"><i class="fa fa-eye fa-2x" style="color: #303030"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin: 0; padding-top: 20px">
    <div class="col-12">
        <div class="row" >
            <div class="col-1" style="position: absolute;z-index: 99;">
                <img src="{{ asset('img/homepage/cercleda/cercle1.jpg') }}" class="rounded-circle" style="height: 70px;width: 70px">
            </div>
            <div class="col-11" style="z-index: 98;position: relative;left: 5%">
                <div class="card card-block" style="padding-top: 20px;padding-bottom: 5px;margin-top: 7px;">
                    <div class="row" style="padding: 0">
                        <div class="col-1" style="font-family:Roboto;font-size:13px;font-weight:200;padding-left: 23px;padding-right: 0px">2 photos</div>
                        <div class="col-3" style="text-align: left;font-family:Roboto;font-size:15px">12/04/2017 à 10:00</div>
                        <div class="col-4" style="text-align: center;">Département :44 - Loire atlantique</div>
                        <div class="col-2"  style="text-align: center;"><a href="#map" ><i class="fa fa-map-marker fa-2x" style="color: #004d40"></i></a></div>
                        <div class="col-2"  style="text-align: center;"><a href="#map"><i class="fa fa-eye fa-2x" style="color: #303030"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ./END Exemple de visu si pas d'observ -->

<!-- Listing des observations-->
<div class="row" style="margin: 0; padding-top: 20px">
    {% for observation in observationsList %}
    <div class="col-12">
        <div class="row" >
            <div class="col-1" style="position: absolute;z-index: 99;">
                {% for picture in observation.pictures %}
                    {% if loop.first %}
                        <img src="../{{ vich_uploader_asset(picture, 'imageFile') }}" alt="{{ picture.imageName }}" class="rounded-circle" style="width: 70px; height: 70px;"/>
                    {% endif %}
                    {% else %}
                       <img src="{{ absolute_url(asset('img/no-photos.png')) }}" alt="Avatar vide" class="rounded-circle" style="width: 70px; height: 70px;"/>
                    {% endfor %}
            </div>
            <div class="col-11" style="z-index: 98;position: relative;left: 5%">
                <div class="card card-block" style="padding-top: 20px;padding-bottom: 5px;margin-top: 7px;">
                    <div class="row" style="padding: 0">
                        <div class="col-1" style="font-family:Roboto;font-size:13px;font-weight:200;padding-left: 23px;padding-right: 0px">
                            {{ observation.pictures.count }} photos
                        </div>
                        <div class="col-3" style="text-align: left;font-family:Roboto;font-size:15px">
                            {{ observation.datetime|date('d/m/Y') }} à {{ observation.datetime|date('h') }}:{{ observation.datetime|date('i') }}
                        </div>
                        <div class="col-4" style="text-align: center;"> Département: {{ observation.department }}</div>
                        <div class="col-2"  style="text-align: center;"><a href="#map" ><i class="fa fa-map-marker fa-2x" style="color: #004d40"></i></a></div>
                        <div class="col-2"  style="text-align: center;"><a href="#"><i class="fa fa-eye fa-2x" style="color: #303030"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% else %}
    <div class="col-12" style="padding-top: 44px">
        <p class="text-center">Pas encore d'observation pour cette espèce.</p>
    </div>
    {% endfor %}
</div>
<!-- ./ END Listing des observations-->
<!-- Pagination -->
{% if nbPageTotal is defined %}
    {% if nbPageTotal > 1 %}
        <div class="col-12" style="text-align: center">
            <ul class="pagination pg-teal flex-center">
                <!--Arrow left-->
                <li class="page-item">
                    <a class="page-link waves-effect waves-effect" aria-label="Previous">
                        <span aria-hidden="true"><font><font>« </font></font></span>
                        <span class="sr-only"><font><font>Précédent</font></font></span>
                    </a>
                </li>

                <!--Numbers-->
                {% for p in range(1, nbPageTotal) %}
                    {% if p == page %}
                        <li class="page-item active">
                            <a class="page-link waves-effect waves-effect teal darken-2" href="{{ path('app_search') }}">{{ p }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link waves-effect waves-effect" href="{{ path('app_search') }}" style="color: #636c72">{{ p }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                <!--Arrow right-->
                <li class="page-item">
                    <a class="page-link waves-effect waves-effect" aria-label="Next">
                        <span aria-hidden="true"><font><font>» </font></font></span>
                        <span class="sr-only"><font><font>Suivant</font></font></span>
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endif %}
<!-- ./ END Pagination -->
